<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials :: head ('Create New Post')" />
<body class="main">
<nav th:replace="partials :: navbar" />
<div class="container">
    <div class="card offwhite-body">
        <div class="card-image">
            <img src="../static/img/big-bar.png" th:src="@{/img/big-bar.png}" alt="colorful bar" />
        </div>
        <div class="card-content">
            <form action="/posts/create" th:action="@{/posts/create}" method="post" th:object="${post}">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="title" name="title" type="text" class="validate" th:field="*{title}"/>
                        <label for="title">Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="body" name="body" class="materialize-textarea" th:field="*{body}" />
                        <label for="body">Body</label>
                    </div>
                </div>
                <button type="submit" value="submit" class="waves-effect waves-purple btn-small indigo accent-3">Submit</button>
            </form>
        </div>
    </div>
</div>
<footer th:replace="partials :: footer" />
<script th:replace="partials :: m-script" />
<script th:replace="partials :: j-query" />
</body>
</html>