<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Viewing Post')" />
<body class="main">
<nav th:replace="partials :: navbar" />
<div class="container">
    <div class="card offwhite-body">
        <div class="card-image">
            <img src="../static/img/big-bar.png" th:src="@{/img/big-bar.png}" alt="colorful bar" />
        </div>
        <div class="card-content">
            <h3 class="card-title" th:text="${post.title}" />
            <p th:text="${post.body}" class="i-like-paragraphs" />
            <br />
            <p class="move-right">To contact this user, email them at <i><span th:text="${post.user.email}" class="red-text" /></i></p>
            <br />
            <div th:if="${isOwner}">
                <a class="waves-effect waves-purple btn-small indigo accent-3" th:href="@{/posts/{id}/edit(id=${post.id})}">Edit</a>
                <a class="waves-effect waves-purple btn-small indigo accent-3" th:href="@{/posts/{id}/delete(id=${post.id})}">Delete</a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="partials :: footer" />
<script th:replace="partials :: m-script" />
<script th:replace="partials :: j-query" />
</body>
</html>