<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Make A Guess')" />
<body class="main">
    <nav th:replace="partials :: navbar" />
    <div class="container">
        <p>Take a guess, my dude...</p>
        <div>
            <a href="/roll-dice/1">1</a>
            <a href="/roll-dice/2">2</a>
            <a href="/roll-dice/3">3</a>
            <a href="/roll-dice/4">4</a>
            <a href="/roll-dice/5">5</a>
            <a href="/roll-dice/6">6</a>
        </div>
    </div>
    <footer th:replace="partials :: footer" />
    <script th:replace="partials :: m-script" />
    <script th:replace="partials :: j-query" />
</body>
</html>